<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.his.mapper.DisecategoryMapper">

    <resultMap id="BaseResultMap" type="com.neuedu.his.po.Disecategory">
        <id property="id" column="ID"/>
        <result property="dicacode" column="DicaCode"/>
        <result property="dicaname" column="DicaName"/>
        <result property="sequenceno" column="SequenceNo"/>
        <result property="dicatype" column="DicaType"/>
        <result property="delmark" column="DelMark"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID
        ,DicaCode,DicaName,SequenceNo,DicaType,DelMark
    </sql>
</mapper>
