<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.his.mapper.FmeditemMapper">

    <resultMap id="BaseResultMap" type="com.neuedu.his.po.Fmeditem">
        <id property="id" column="ID"/>
        <result property="itemcode" column="ItemCode"/>
        <result property="itemname" column="ItemName"/>
        <result property="format" column="Format"/>
        <result property="price" column="Price"/>
        <result property="expclassid" column="ExpClassID"/>
        <result property="deptid" column="DeptID"/>
        <result property="mnemoniccode" column="MnemonicCode"/>
        <result property="creationdate" column="CreationDate"/>
        <result property="lastupdatedate" column="LastUpdateDate"/>
        <result property="recordtype" column="RecordType"/>
        <result property="delmark" column="DelMark"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID
        ,ItemCode,ItemName,Format,Price,ExpClassID,
        DeptID,MnemonicCode,CreationDate,LastUpdateDate,RecordType,
        DelMark
    </sql>
</mapper>
