<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.his.mapper.MedicaldiseaseMapper">

    <resultMap id="BaseResultMap" type="com.neuedu.his.po.Medicaldisease">
        <id property="id" column="ID"/>
        <result property="medicalid" column="MedicalID"/>
        <result property="registid" column="RegistID"/>
        <result property="diseaseid" column="DiseaseID"/>
        <result property="diagnosetype" column="DiagnoseType"/>
        <result property="getsiskdate" column="GetSiskDate"/>
        <result property="diagnosecate" column="DiagnoseCate"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID
        ,MedicalID,RegistID,DiseaseID,DiagnoseType,GetSiskDate,
        DiagnoseCate
    </sql>
</mapper>
