<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.his.mapper.RuleMapper">

    <resultMap id="BaseResultMap" type="com.neuedu.his.po.Rule">
        <id property="id" column="ID"/>
        <result property="rulename" column="RuleName"/>
        <result property="deptid" column="DeptID"/>
        <result property="userid" column="UserID"/>
        <result property="week" column="Week"/>
        <result property="delmark" column="DelMark"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID
        ,RuleName,DeptID,UserID,Week,DelMark
    </sql>
</mapper>
