<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.his.mapper.SettlecategoryMapper">

    <resultMap id="BaseResultMap" type="com.neuedu.his.po.Settlecategory">
        <id property="id" column="ID"/>
        <result property="settlecode" column="SettleCode"/>
        <result property="settlename" column="SettleName"/>
        <result property="sequenceno" column="SequenceNo"/>
        <result property="delmark" column="DelMark"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID
        ,SettleCode,SettleName,SequenceNo,DelMark
    </sql>
</mapper>
