<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.his.mapper.DepartmentMapper">

    <resultMap id="BaseResultMap" type="com.neuedu.his.po.Department">
            <id property="id" column="ID" />
            <result property="deptcode" column="DeptCode" />
            <result property="deptname" column="DeptName" />
            <result property="deptcategoryid" column="DeptCategoryID" />
            <result property="depttype" column="DeptType" />
            <result property="delmark" column="DelMark" />
    </resultMap>

    <sql id="Base_Column_List">
        ID,DeptCode,DeptName,DeptCategoryID,DeptType,DelMark
    </sql>
</mapper>
