<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.his.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.neuedu.his.po.User">
            <id property="id" column="ID" />
            <result property="username" column="UserName" />
            <result property="password" column="Password" />
            <result property="realname" column="RealName" />
            <result property="usetype" column="UseType" />
            <result property="doctitleid" column="DocTitleID" />
            <result property="isscheduling" column="IsScheduling" />
            <result property="deptid" column="DeptID" />
            <result property="registleid" column="RegistLeID" />
            <result property="delmark" column="DelMark" />
    </resultMap>

    <sql id="Base_Column_List">
        ID,UserName,Password,RealName,UseType,DocTitleID,
        IsScheduling,DeptID,RegistLeID,DelMark
    </sql>
</mapper>
